<h3>Add a Connection</h3>
<%= form_for [ @subsection, @connection ] do |f| %>
  <p>
    <%= f.label :author_name %><br/>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :url %><br/>
    <%= f.text_field :url %>
  </p>

   <p>
    <%= f.label :basis %><br/>
    <%= f.text_field :basis %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>