<h1> <%= @piece.name%></h1>
<h2> <%= @section.name%></h2>
<h5> Broader Context:</h5> <p> <%= simple_format(@section.broader_context) %></p>


<br/>
<h5> Key questions Addressed:</h5><p><%= simple_format(@section.key_questions_addressed) %></p>
<br/>
<h5> Summary:</h5><p><%= simple_format(@section.summary) %></p>
<br/>
<br/>
<%= link_to "Delete", piece_section_path(@piece, @section), method: :delete, data: {confirm: "Really delete section?"} %>
<%= link_to "Edit", edit_piece_section_path(@piece, @section)  %>
<br/>
<%= link_to "<< Back to Pieces List", pieces_path %>
<%= link_to "<< Back to Piece: " + @piece.name + ".", piece_path(@piece) %>

