<h1> <%= @piece.name%></h1>
<h2> <%= @section.name%></h2>
<h5> Broader Context:</h5> <p> <%= @section.broader_context %></p>


<br/>
<h5> Key questions Addressed:</h5><p><%= @section.key_questions_addressed %></p>
<br/>
<h5> Summary:</h5><p><%= @section.summary %></p>
<br/>
<br/>
<%= link_to "<< Back to Pieces List", pieces_path %>
<%= link_to "<< Back to Piece: " + @piece.name + ".", piece_path(@piece) %>