
<h1><%= @piece.name %></h1>
<h5>Author: </h5><p><%= @piece.author %></p>
<h5>Subject: </h5> <p><%= @piece.subject %></p>
<br />
<h5>Summary: </h5><p><%= simple_format(@piece.summary) %></p>

<br/>
<p><%= link_to @piece.name, piece_sections_path(@piece), class: 'section_name' %></p>

<% @piece.sections.each do |section| %>
    <li>
      <%= link_to section.name, piece_section_path(@piece, section), class: 'section_name' %>
      <!-- this middle part 'piece.name' is the psart we want the link to say, the next part is our route helper.-->
    </li>
  <% end %>

<br />

<h5>Thoughts: </h5><p><%= simple_format(@piece.thoughts) %></p>
<br/>


<h3>Relevant Links (<%= @piece.links.size %>)</h3>
<%= render partial: 'pieces/link', collection: @piece.links %>
<%= render partial: 'links/form' %>

<br/>
<p>Last Updated: <%= @piece.updated_at.localtime %> </p>
<br/>



<%= link_to "Delete", piece_path(@piece), method: :delete, data: {confirm: "Really delete the article?"}
 %>

<%= link_to "Edit", edit_piece_path(@piece) %>

<%= link_to "<< Back to Pieces List", pieces_path %>
<!--REMEMBER, pieces_path is just pieces/index -->

<%= link_to "Add a Section", new_piece_section_path(@piece), class: "new_article" %>
