
<h1><%= @pieces.name %></h1>
<p>Author: <%= @pieces.author %></p>
<p>Subject: <%= @pieces.subject %></p>
<p>Summary: <%= @pieces.summary %></p>

<% @pieces.sections.each do |section| %>
    <li>
      <%= link_to section.name, piece_sections_path(section), class: 'piece_name' %>
      <!-- this middle part 'piece.name' is the part we want the link to say, the next part is our route helper.-->
    </li>
  <% end %>
<%= link_to "delete", piece_path(@pieces), method: :delete, data: {confirm: "Really delete the article?"}
 %>

<%= link_to "edit", edit_piece_path(@pieces) %>

<%= link_to "<< Back to Pieces List", pieces_path %>
<!--REMEMBER, pieces_path is just pieces/index -->