<h1>All Mini Sections for "<%= @subsection.name %>"</h1>
<br/>
<%= link_to " Piece: " + @piece.name + ".", piece_path(@piece) %>
<%= link_to "  >>  " + @section.name + ".", piece_section_path(@piece, @section) %>
<%= link_to "  >>  " + @subsection.name + ".", piece_section_subsection_path(@piece, @section, @subsection) %>
<br/>
<% @subsection.subsubsections.each do |subsubsection| %>
    <li>
      <p><%= subsubsection.name %> </p>
      <p>Summary: <%= simple_format(subsubsection.summary) %> </p>
      <p>Thoughts: <%= simple_format(subsubsection.thoughts) %> </p>
      <!-- this middle part 'piece.name' is the psart we want the link to say, the next part is our route helper.-->
    </li>
  <% end %>

<br />

<br/>
<%= link_to "<< Back to Pieces List >>", pieces_path %>
