<h1>Extensive Overview </h1>
<br/>
<%= link_to " Piece: " + @piece.name + ".", piece_path(@piece) %>

<br/>
<br/>
<% @piece.sections.each do |section| %>
	<ul>
		<li><h2>"<%= section.name %>"</h2>
			<i> Summary:</i><p><%= simple_format(section.summary) %> </p>
			<i> Broader Context:</i><p> <%= simple_format(section.broader_context) %> </p>
			<i> Key Questions Addressed</i><p> <%= simple_format(section.key_questions_addressed) %> </p>
      		<i> Thoughts</i><p> <%= simple_format(section.thoughts) %> </p></li>
      		<br/>
      	<li><% section.subsections.each do |subsection| %>
		
			<p><h4>"<%= subsection.name %>"</h4></p>
			<i> Summary:</i><p> <%= simple_format(subsection.summary) %> </p>
			<i> Broader Context:</i><p><%= simple_format(subsection.broader_context) %> </p>
			<i>Key questions addressed: </i><p><%= simple_format(subsection.key_questions_addressed) %> </p>
      		<i>Thoughts: </i><p><%= simple_format(subsection.thoughts) %> </p></li>
      		<br/>
		<li><% @subsection.subsubsections.each do |subsubsection| %>
    	
      	<p><strong>"<%= subsubsection.name %> "</strong></p>
      	<i> Summary:</i><p> <%= simple_format(subsubsection.summary) %> </p>
      	<i> Broader Context:</i><p> <%= simple_format(subsubsection.broader_context) %> </p>
		<i>Key questions addressed: </i><p><%= simple_format(subsubsection.key_questions_addressed) %> </p>
      	<i>Thoughts: </i><p><%= simple_format(subsubsection.thoughts) %> </p></li>
      	<br/>
      	<br/>
      <!-- this middle part 'piece.name' is the psart we want the link to say, the next part is our route helper.-->
    </ul>
    <%end %>
    <%end %>
  <% end %>

<br />

<br/>
<%= link_to "<< Back to Pieces List >>", pieces_path %>
